
<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <!-- /span6 -->
        <div class="span6">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Analyze This!</h3>
            </div>

            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts"> <a href="/gauth" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
                                        class="shortcut-label">Calander</span> </a><a href="javascript:;" class="shortcut"><i
                                            class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Presentations</span> </a><!-- a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Drive</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                                class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
                                                    class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a --><a href="/revoke" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">REVOKE</span> </a> </div>
              <!-- /shortcuts --> 
            </div>
          </div>
                      <!-- /widget-header -->
                      <div class="widget-content">
                        <div class="widget big-stats-container">
                          <div class="widget-content">
                            <h6 class="bigstats">  What you did in 2019</h6>
                            <div id="big_stats" class="cf">
                              <div class="stat"> Total Events<i class="icon-anchor"></i> <span class="value">{{ total_events }}</span> </div>
                              <!-- .stat -->
                              
                              <div class="stat"> One on One<i class="icon-thumbs-up-alt"></i> <span class="value">{{ one_on_one }}</span> </div>
                              <!-- .stat -->
                              
                              <div class="stat"> Group Meetings<i class="icon-bullhorn"></i> <span class="value">{{ group_meets }}</span> </div>
                              <!-- .stat -->
                              
                              <div class="stat"> Flights <i class="icon-plane"></i> <span class="value">{{ flights }}</span> </div>
                              <!-- .stat --> 
                            </div>
                          </div>
                          <!-- /widget-content --> 
                          
                        </div>
                      </div>
                    </div>
                    <!-- /widget -->
          <!-- /widget -->
        </div>
        <!-- /span6 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>
<!-- /main -->
