<div class="main">
  <div class="main-inner">
    <div class="container">
      <div class="row">
        <!-- /span5 -->
        <div class="span5">
          <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Analyze This!</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <div class="shortcuts"> <a href="/gauth" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
                                        class="shortcut-label">Calander</span> </a><a href="javascript:;" class="shortcut"><i
                                            class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Presentations</span> </a><!-- a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Drive</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
                                                class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
                                                    class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a --><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Revoke</span> </a> </div>
              <!-- /shortcuts --> 
            </div>
          </div>
          <!-- /widget -->
        </div>
        <!-- /span5 --> 
        <!-- /message --> 
        <div class="span5">
            <div id="embedded_messenger">
              <header id="message_header" onclick="Botkit.toggle()">Chat</header>
              <iframe  id="botkit_client" src="//www.mentorbox.org:3210/chat.html"></iframe>
          </div>
          <script src="//www.mentorbox.org:{{chat_port}}/embed.js"></script>
          <script>
          var options = {}; // for options, see: https://github.com/howdyai/botkit-starter-web/blob/master/docs/botkit_web_client.md#botkitbootuser
          Botkit.boot(options);
          </script>
          <link rel="stylesheet" href="//www.mentorbox.org:{{chat_port}}/css/embed.css" />
        </div>    
        <!-- /message --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /main-inner --> 
</div>